export(AggregateVintageData)
export(CreateTimeDistanceFunction)
export(GetVintageData)
export(PlotVintageData)
export(PrintVintageData)
import(RPostgreSQL)
import(WriteXLS)
import(ggplot2)
import(plyr)
importFrom(reshape2,dcast)
importFrom(sqldf,sqldf)
